<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonthColor</key>
	<dict>
		<key>12</key>
		<integer>12669577</integer>
		<key>11</key>
		<integer>9351040</integer>
		<key>10</key>
		<integer>16089600</integer>
		<key>9</key>
		<integer>9788223</integer>
		<key>8</key>
		<integer>15460864</integer>
		<key>7</key>
		<integer>9684959</integer>
		<key>6</key>
		<integer>7429279</integer>
		<key>5</key>
		<integer>11053222</integer>
		<key>4</key>
		<integer>15753501</integer>
		<key>3</key>
		<integer>9206312</integer>
		<key>2</key>
		<integer>42826</integer>
		<key>1</key>
		<integer>44007</integer>
	</dict>
	<key>PaytypeIcons</key>
	<dict>
		<key>1</key>
		<string>paytype_money</string>
		<key>2</key>
		<string>paytype_card</string>
		<key>3</key>
		<string>paytype_visa</string>
		<key>4</key>
		<string>paytype_alipay</string>
		<key>5</key>
		<string>paytype_visa</string>
		<key>6</key>
		<string>paytype_wechat</string>
		<key>7</key>
		<string>paytype_other</string>
	</dict>
</dict>
</plist>
